<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
<!--     <remap from="image_rect" to="camera_5_drop/image_raw" />  -->
    <remap from="image_rect" to="/vrep/Vision_sensor_quad6/image_raw" /> 
    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="compressed" />
    <!-- <remap from="image_rect" to="/camera/image_mono" />  -->
    <!-- <remap from="camera_info" to="camera/camera_info" /> -->
    <remap from="camera_info" to="/vrep/Vision_sensor_quad6/camera_info" />

<!--     /vrep/Vision_sensor_quad6/Camerainfo
	/vrep/Vision_sensor_quad6/image_raw
	/vrep/Vision_sensor_quad6/image_raw/compressed -->	

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="16h5" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.163513}]
    </rosparam>
  </node>
</launch>
	<!-- {id: 4, size: 0.163513},
	      {id: 5, size: 0.163513} -->
	            <!-- {id: 1, size: 0.086, frame_id: a_frame}, -->